#player {

	position: absolute;
	background: url(player/stay.png) no-repeat;
	width: 109px;
	height: 154px;
	border: 1 px solid red;
	
}

#map {

	position: relative;
	border: 1px solid black;
	height: 300px;
	width: 800px;

}